infra/adf-pipelines/RunEphemeralACI.template.json
{
  "name": "RunEphemeralACI",
  "properties": {
    "activities": [
      {
        "name": "RunACIContainer",
        "type": "WebActivity",

        "typeProperties": {
          "url": "https://management.azure.com/subscriptions/$SUBSCRIPTION_ID/resourceGroups/$RESOURCE_GROUP/providers/Microsoft.ContainerInstance/containerGroups/$ACI_NAME?api-version=2021-03-01",
          "method": "PUT",
          "authentication": {
            "type": "MSI",
            "resource": "https://management.azure.com/"
          },
          "headers": {
            "Content-Type": "application/json"
          },
          "body": {
            "location": "$LOCATION",
            "properties": {
              "containers": [
                {
                  "name": "$ACI_NAME",
                  "properties": {
                    "image": "$ACR_NAME.azurecr.io/$IMAGE_NAME:latest",
                    "resources": {
                      "requests": {
                        "cpu": 1,
                        "memoryInGb": 1.5
                      }
                    },
                    "command": [
                      "pcaster",
                      "--overwrite",
                      "--azure-storage-account",
                      "$STORAGE_ACCOUNT_NAME"
                    ],
                    "environmentVariables": [
                      {
                        "name": "AZURE_CLIENT_ID",
                        "value": "$AZURE_CLIENT_ID"
                      },
                      {
                        "name": "AZURE_TENANT_ID",
                        "value": "$AZURE_TENANT_ID"
                      },
                      {
                        "name": "AZURE_CLIENT_SECRET",
                        "value": "$AZURE_CLIENT_SECRET"
                      }
                    ],
                    "secretEnvironmentVariables": [
                      {
                        "name": "MY_SECRET_VAR",
                        "value": "@Microsoft.KeyVault(SecretUri=https://$KEY_VAULT_NAME.vault.azure.net/secrets/my-secret-var)"
                      }
                    ]
                  }
                }
              ],
              "osType": "Linux",
              "restartPolicy": "Never",
              "imageRegistryCredentials": [
                {
                  "server": "$ACR_NAME.azurecr.io",
                  "username": "$ACR_USERNAME",
                  "password": "$ACR_PASSWORD"
                }
              ]
            }
          }
        }
      },



      {
        "name": "WaitForContainerToComplete",
        "type": "Until",
        "dependsOn": [
          {
            "activity": "RunACIContainer",
            "dependencyConditions": ["Succeeded", "Failed"]
          }
        ],
        "typeProperties": {
          "expression": {
            "value": "@and(contains(activity('CheckStatus').output.properties.containers[0].properties, 'instanceView'), equals(coalesce(activity('CheckStatus').output.properties.containers[0].properties.instanceView.currentState.state, 'Pending'), 'Terminated'))",
            "type": "Expression"
          },
          "timeout": "00:05:00"
        },
        "activities": [
          {
            "name": "CheckStatus",
            "type": "WebActivity",
            "typeProperties": {
              "url": "https://management.azure.com/subscriptions/$SUBSCRIPTION_ID/resourceGroups/$RESOURCE_GROUP/providers/Microsoft.ContainerInstance/containerGroups/$ACI_NAME?api-version=2021-07-01",
              "method": "GET",
              "authentication": {
                "type": "MSI",
                "resource": "https://management.azure.com/"
              }
            }
          },
          {
            "name": "Delay",
            "type": "Wait",
            "typeProperties": {
              "waitTimeInSeconds": 10
            }
          }
        ]
      },
      {
        "name": "GetACIContainerLogs",
        "type": "WebActivity",
        "policy": {
          "timeout": "00:01:00",
          "retry": 0
        },
        "dependsOn": [
          {
            "activity": "WaitForContainerToComplete",
            "dependencyConditions": ["Succeeded"]
          }
        ],
        "typeProperties": {
          "url": "https://management.azure.com/subscriptions/$SUBSCRIPTION_ID/resourceGroups/$RESOURCE_GROUP/providers/Microsoft.ContainerInstance/containerGroups/$ACI_NAME/containers/$ACI_NAME/logs?api-version=2021-07-01",
          "method": "GET",
          "authentication": {
            "type": "MSI",
            "resource": "https://management.azure.com/"
          }
        }
      },
      {
        "name": "SaveLogsToBlob",
        "type": "AzureFunctionActivity",
        "linkedServiceName": {
          "referenceName": "AzureFunctionAciLogsLinkedService",
          "type": "LinkedServiceReference"
        },
        "dependsOn": [
          {
            "activity": "GetACIContainerLogs",
            "dependencyConditions": ["Succeeded"]
          }
        ],
        "typeProperties": {
          "functionName": "$FUNCTION_NAME",
          "method": "POST",
          "body": {
            "aciName": "$ACI_NAME",
            "logs": "@activity('GetACIContainerLogs').output"
          }
        }
      },
      {
        "name": "DeleteACIContainer",
        "type": "WebActivity",
        "dependsOn": [
          { "activity": "SaveLogsToBlob", "dependencyConditions": ["Completed"] }
        ],
        "typeProperties": {
          "url": "https://management.azure.com/subscriptions/$SUBSCRIPTION_ID/resourceGroups/$RESOURCE_GROUP/providers/Microsoft.ContainerInstance/containerGroups/$ACI_NAME?api-version=2021-07-01",
          "method": "DELETE",
          "authentication": {
            "type": "MSI",
            "resource": "https://management.azure.com/"
          },
          "headers": {
            "Content-Type": "application/json"
          }
        },
        "policy": {
          "timeout": "00:02:00",
          "retry": 1
        }
      },


 {
        "name": "RunACIContainerEnricher",
        "type": "WebActivity",
        "dependsOn": [
          { "activity": "SaveLogsToBlob", "dependencyConditions": ["Succeeded"] }
        ],
        "typeProperties": {
          "url": "https://management.azure.com/subscriptions/$SUBSCRIPTION_ID/resourceGroups/$RESOURCE_GROUP/providers/Microsoft.ContainerInstance/containerGroups/$ACI_NAME_ENRICHER?api-version=2021-03-01",
          "method": "PUT",
          "authentication": {
            "type": "MSI",
            "resource": "https://management.azure.com/"
          },
          "headers": {
            "Content-Type": "application/json"
          },
          "body": {
            "location": "$LOCATION",
            "properties": {
              "containers": [
                {
                  "name": "$ACI_NAME_ENRICHER",
                  "properties": {
                    "image": "$ACR_NAME.azurecr.io/$IMAGE_NAME_ENRICHER:latest",
                    "resources": {
                      "requests": {
                        "cpu": 1,
                        "memoryInGb": 1.5
                      }
                    },
                    "command": [
                      "enricher",
                      "--overwrite",
                      "--azure-storage-account",
                      "$STORAGE_ACCOUNT_NAME"
                    ],
                    "environmentVariables": [
                      {
                        "name": "AZURE_CLIENT_ID",
                        "value": "$AZURE_CLIENT_ID"
                      },
                      {
                        "name": "AZURE_TENANT_ID",
                        "value": "$AZURE_TENANT_ID"
                      },
                      {
                        "name": "AZURE_CLIENT_SECRET",
                        "value": "$AZURE_CLIENT_SECRET"
                      }
                    ],
                    "secretEnvironmentVariables": [
                      {
                        "name": "MY_SECRET_VAR",
                        "value": "@Microsoft.KeyVault(SecretUri=https://$KEY_VAULT_NAME.vault.azure.net/secrets/my-secret-var)"
                      }
                    ]
                  }
                }
              ],
              "osType": "Linux",
              "restartPolicy": "Never",
              "imageRegistryCredentials": [
                {
                  "server": "$ACR_NAME.azurecr.io",
                  "username": "$ACR_USERNAME",
                  "password": "$ACR_PASSWORD"
                }
              ]
            }
          }
        }
      },





      {
        "name": "StartJobProcessing",
        "type": "WebActivity",
        "dependsOn": [
          { "activity": "SaveLogsToBlob", "dependencyConditions": ["Succeeded"] }
        ],
        "typeProperties": {
          "url": "https://management.azure.com/subscriptions/$SUBSCRIPTION_ID/resourceGroups/$RESOURCE_GROUP/providers/Microsoft.App/jobs/whisperer-job-submitter/start?api-version=2023-05-01",
          "method": "POST",
          "authentication": {
            "type": "MSI",
            "resource": "https://management.azure.com/"
          },
          "body": {
            "properties": {
              "template": {
                "containers": [{
                  "name": "whisperer-job-submitter",
                  "command": [
                    "app-submit",
                    "--input",
                    "@variables('inputBlobPath')",
                    "--output",
                    "@variables('outputBlobPath')"
                  ],
                  "env": [
                    { "name": "BLOB_URL", "value": "@variables('processingBlobUrl')" },
                    { "name": "JOB_ID", "value": "@pipeline().RunId" }
                  ]
                }]
              }
            }
          }
        }
      }

    ]
  }
}
