infra/adf-pipelines/RunTestACI.template.json
{
  "name": "RunTestACI",
  "properties": {
    "activities": [
      {
        "name": "RunACIContainer",
        "type": "WebActivity",
        "policy": {
          "timeout": "00:05:00",
          "retry": 0
        },
        "typeProperties": {
          "url": "https://management.azure.com/subscriptions/$SUBSCRIPTION_ID/resourceGroups/$RESOURCE_GROUP/providers/Microsoft.ContainerInstance/containerGroups/$ACI_NAME?api-version=2021-03-01",
          "method": "PUT",
          "authentication": {
            "type": "MSI",
            "resource": "https://management.azure.com/"
          },
          "headers": {
            "Content-Type": "application/json"
          },
          "body": {
            "location": "$LOCATION",
            "identity": {
              "type": "UserAssigned",
              "userAssignedIdentities": {
                "/subscriptions/$SUBSCRIPTION_ID/resourceGroups/$RESOURCE_GROUP/providers/Microsoft.ManagedIdentity/userAssignedIdentities/$UAMI_NAME": {}
              }
            },
            "properties": {
              "containers": [
                {
                  "name": "$ACI_NAME",
                  "properties": {
                    "image": "$ACR_NAME.azurecr.io/$IMAGE_NAME:$IMAGE_TAG",
                    "resources": {
                      "requests": {
                        "cpu": 0.2,
                        "memoryInGb": 0.5
                      }
                    },
                    "command": [
                      "test",
                      "--write-blob-default",
                      "--key-vault",
                      "$SECRET_NAME_TO_DISPLAY"
                    ],
                    "environmentVariables": [
                      {
                        "name": "AZURE_STORAGE_ACCOUNT",
                        "value": "$STORAGE_ACCOUNT_NAME"
                      },
                      {
                        "name": "AZURE_KEY_VAULT_URL",
                        "value": "https://$KEY_VAULT_NAME.vault.azure.net/"
                      }
                    ]
                  }
                }
              ],
              "osType": "Linux",
              "restartPolicy": "Never",
              "imageRegistryCredentials": [
                {
                  "server": "$ACR_NAME.azurecr.io",
                  "username": "$ACR_USERNAME",
                  "password": "$ACR_PASSWORD"
                }
              ]
            }
          }
        }
      },
      {
        "name": "WaitForContainerToComplete",
        "type": "Until",
        "dependsOn": [
          {
            "activity": "RunACIContainer",
            "dependencyConditions": ["Succeeded", "Failed"]
          }
        ],
        "typeProperties": {
          "expression": {
            "value": "@and(activity('CheckStatus').output.properties.instanceView.containers[0].currentState.state, equals(activity('CheckStatus').output.properties.instanceView.containers[0].currentState.state, 'Terminated'))",
            "type": "Expression"
          },
          "timeout": "00:05:00"
        },
        "activities": [
          {
            "name": "CheckStatus",
            "type": "WebActivity",
            "typeProperties": {
              "url": "https://management.azure.com/subscriptions/$SUBSCRIPTION_ID/resourceGroups/$RESOURCE_GROUP/providers/Microsoft.ContainerInstance/containerGroups/$ACI_NAME?api-version=2021-07-01",
              "method": "GET",
              "authentication": {
                "type": "MSI",
                "resource": "https://management.azure.com/"
              }
            }
          },
          {
            "name": "Delay",
            "type": "Wait",
            "typeProperties": {
              "waitTimeInSeconds": 10
            }
          }
        ]
      },
      {
        "name": "GetACIContainerLogs",
        "type": "WebActivity",
        "policy": {
          "timeout": "00:01:00",
          "retry": 0
        },
        "dependsOn": [
          {
            "activity": "WaitForContainerToComplete",
            "dependencyConditions": ["Succeeded"]
          }
        ],
        "typeProperties": {
          "url": "https://management.azure.com/subscriptions/$SUBSCRIPTION_ID/resourceGroups/$RESOURCE_GROUP/providers/Microsoft.ContainerInstance/containerGroups/$ACI_NAME/containers/$ACI_NAME/logs?api-version=2021-07-01",
          "method": "GET",
          "authentication": {
            "type": "MSI",
            "resource": "https://management.azure.com/"
          }
        }
      },
      {
        "name": "SaveLogsToBlob",
        "type": "AzureFunctionActivity",
        "dependsOn": [
          {
            "activity": "GetACIContainerLogs",
            "dependencyConditions": ["Succeeded"]
          }
        ],
        "typeProperties": {
          "functionAppUrl": "$FUNCTION_APP_URL",
          "functionName": "$FUNCTION_NAME",
          "method": "POST",
          "body": {
            "aciName": "$ACI_NAME",
            "logs": "@activity('GetACIContainerLogs').output"
          }
        }
      },
      {
        "name": "DeleteACIContainer",
        "type": "WebActivity",
        "dependsOn": [
          { "activity": "SaveLogsToBlob", "dependencyConditions": ["Completed"] }
        ],
        "typeProperties": {
          "url": "https://management.azure.com/subscriptions/$SUBSCRIPTION_ID/resourceGroups/$RESOURCE_GROUP/providers/Microsoft.ContainerInstance/containerGroups/$ACI_NAME?api-version=2021-07-01",
          "method": "DELETE",
          "authentication": {
            "type": "MSI",
            "resource": "https://management.azure.com/"
          },
          "headers": {
            "Content-Type": "application/json"
          }
        },
        "policy": {
          "timeout": "00:02:00",
          "retry": 1
        }
      }
    ]
  }
}
